html, body { 
	height: 100%; 
	padding:0px; 
	margin: 0;
}

div.alpha { 
	width: 50%; 
	height: 50%; 
	float: left; 
	display: table;
	color:#505050 ;


}

.top {
	position: absolute;

	}





#div1 { 
	background-color: #ffffff;
}

#div2 { 
	background-color: #ffffff;
}

#div3 { 
	background-color: #ffffff;
}

#div4 { 
	background-color: #ffffff;
}

#div1:hover { 
	background-color: #5DFF33;
	color: #ffffff;
	 }

#div2:hover{ 
	background-color: #5DFF33;
	color: #ffffff;
}

#div3:hover { 
	background-color: #5DFF33;
	color: white;
	 }

#div4:hover { 
	background-color: #5DFF33; 
	color: #ffffff;
}

p {

  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
  font-size: 550%;
  font-family: vera-sans, sans-serif;
  font-weight: bold;
}


  


a {

	
}

a:link {
	text-decoration: none;
	
}








