html, body { 
	height: 100%; 
	padding:0px; 
	margin: 0;
}

div.alpha { 
	width: 50%; 
	height: 50%; 
	float: left; 
	display: table;

}

.top {
	position: absolute;
	width: 100%;
	background-color:black;
	height: 10px;
}

.left {
	position: absolute;
	height: 100%;
	background-color: black;
	width: 10px;
	float: left;
}

.right {
	position: absolute; 
	right: 0;
	height: 100%;
	background-color: black;
	width: 10px;
}

.bottom {
	position: absolute; 
	bottom: 0;
	width: 100%;
	background-color: black;
	height: 10px;

}


#div1 { 
	background-color: #ffffff;
}

#div2 { 
	background-color: #ffffff;
}

#div3 { 
	background-color: #ffffff;
}

#div4 { 
	background-color: #ffffff;
}

#div1:hover { 
	background-color: #5DFF33;
	color: #ffffff;
	 }

#div2:hover{ 
	background-color: #5DFF33;
	color: #ffffff;
}

#div3:hover { 
	background-color: #5DFF33;
	color: white;
	 }

#div4:hover { 
	background-color: #5DFF33; 
	color: #ffffff;
}

p {

  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
  font-size: 5em;
  font-family: vera-sans, sans-serif;
  font-weight: bold;
  
 
  
}