html, body { height: 100%; padding:0; margin: 0; }

div.alpha { 
	width: 50%; 
	height: 50%; 
	float: left; 
	display: table;
}

div.topper {
	
	position: absolute;
	width: 100%;
	text-align: center;

}

.topperText {
	font-family: helvetica;
	color:black;
}

#div1 { background-color: #ffffff;}
#div2 { background-color: #ffffff;}
#div3 { background-color: #ffffff;}
#div4 { background-color: #ffffff;}

#div1:hover { 
	background-color: #7CFC00;
	color: #ffffff;
	 }

#div2:hover{ 
	background-color: #7CFC00;
	color: #ffffff;
}

#div3:hover { 
	background-color: #7CFC00;
	color: white;
	 }

#div4:hover { 
	background-color: #7CFC00; 
	color: #ffffff;
}

p {

  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
  font-size: 5em;
  font-family: vera-sans, sans-serif;
  font-weight: bold;
  
 
  
}